$page-width: 80rem;
// $max-page-width: 90%;
$font-size: 12.5px; // rem measures are relative to this, as it's used as the font-size for the :root{}-element
$color-primary: #000;
$bg-section-header: rgb(89,154,102);

$navbar-height: 6.5rem;

$bg-nav: #fff;
$bg-wrapper: #f9fbfd;
$bg-box: #fff;